@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300&family=Oswald:wght@200;300;400;500;600;700&display=swap');

* {
    margin: 0;
    padding: 0;
    border: none;
}

body {
    font-family: Lato, sans-serif;
    font-weight: 300;
    color: #3a3a3a
}

h1,
h2 {
    font-family: Oswald, sans-serif;
    text-transform: uppercase;
    letter-spacing: 4px;
    color: #252525;
}

#logo {
    float: left;
    font-size: 250%;
    margin-left: 30px;
}

#menu {
    font-size: 110%;
    letter-spacing: 4px;
}

#menu,
#logo {
    line-height: 75px;
}

#menu li {
    float: right;
    list-style-type: none;
    margin-right: 30px;
}

#menu a {
    text-decoration: none;
    color: inherit;
}

#menu a:hover {
    border-bottom: 1px solid #3a3a3a;
}

.active {
    border-bottom: 1px solid #3a3a3a;
}

#hero-outer {
    height: 600px;
    width: 100%;
    overflow: hidden;
    /* relative to its mail position */
    position: relative;
}

#cover-text,
#cover-text h2 {
    color: white;

}

#hero-image {
    height: 600px;
    width: 100%;
    background: url(../images/hero-image.webp) no-repeat center center;

    /* add animation */
    animation-name: zoom-image;
    animation-duration: 5s;
    animation-fill-mode: forwards;

}

@keyframes zoom-image {
    from {
        transform: scale(1);

    }

    to {
        transform: scale(1.1);
    }
}

#cover-text {
    font-size: 130%;
    font-family: Oswald, sans-serif;
    text-transform: uppercase;
    letter-spacing: 4px;

    width: 300px;
    length: 200px;

    padding-top: 40px;
    padding-left: 10px;

    background-color: rgba(241, 109, 107, 0.7);
    bottom: 30px;
    right: 150px;
    /* absoulte to the parent, here the parent is hero-outer */
    position: absolute;
}

#left {
    padding-top: 30px;
    width: 33%;
    float: left;

}

#right {
    padding-top: 30px;
    width: 33%;
    float: right;

}

#center {
    margin: 0 auto;
    width: 33%;

}

hr {
    border-top: 4px solid #3a3a3a;
    width: 100%;
    margin: 5px;
}

.left-heading {
    width: 60%;
    float: right;
    line-height: 20px;
    clear: both;
    margin-bottom: 50px;
}

.right-heading {
    width: 60%;
    float: left;
    line-height: 20px;
    clear: both;
    margin-bottom: 50px;
    text-align: right;
}

#welcome {
    text-align: center;
    margin: 20px;
    font-size: 280%;
}

#circle-container {
    width: 300px;
    height: 300px;
    padding: 30px;
    border-width: 1px;
    border-color: #ccc;
    border-style: solid;
    border-radius: 50%;
    margin: 0 auto;

}

#circle-cover {
    background-image: url(../images/ethos-center-image.jpg) no-repeat center center;
    height: 100%;
}